<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Demeter - List of Activities</title>
  </head>
  <body style="height: 100%; margin: 0; padding: 0;">
    <% @drivers.each do |driver| %>
      <%= "Driver ID: #{driver[:driver_id]}" %>
      <br>
      <% driver[:dates].each do |date| %>
        <%= "Day: #{date[:day]}" %>
        <br>
        <table>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Activity</th>
            <th>Time</th>
          </tr>
          <% date[:activities].each do |act| %>
            <tr>
              <td><%= act[:from] %></td>
              <td><%= act[:to] %></td>
              <td><%= act[:desc] %></td>
              <td><%= act[:time] %></td>
            </tr>
          <% end %>
        </table>
        <br>
      <% end %>
    <% end %>
  </body>
</html>
